
@keyframes slideYright {
    
    from{
        transform:translateY(-300px);
        opacity: 0;
    }
    to{
        transform:translateY(0px);
    }
   
}
@keyframes slideXleft {
    
    from{
        transform:translateX(-150px);
        opacity: 0;
    }
    to{
        transform:translateX(0px);
    }
   
}
@keyframes slideXright {
    
    from{
        transform:translateX(150px);
        opacity: 0;
    }
    to{
        transform:translateX(0px);
    }
   
}
@keyframes slideYleft {
    
    from{
        transform:translateY(300px);
        opacity: 0;
    }
    to{
        transform:translateY(0px);
    }
   
}

        /* About page specific styles */
        #about {
            padding-top: 100px;
            width:100%;
            height: auto;
            text-align: justify;
            
        }

        #about h2 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #333;
            animation: slideYright 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
            text-align: center;
           
        }

        #about p {
            font-size: 1.2em;
            margin-bottom: 20px;
            color: #555;
        }

        .about-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 20px;
        }

        .about-content img {
            max-width: 50%;
            height: auto;
            border-radius: 10px;
            animation: slideXleft 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
        }

        .about-text {
            max-width: 800px;
            text-align: left;
            animation: slideXright 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
        }

        @media (max-width: 800px) {
            .about-content {
                flex-direction: column;
                align-items: center;
            }

            .about-text {
                text-align: justify;
            }
            .about-content img {
                max-width: 80%;
                height: auto;
                border-radius: 10px;
            }
        }
        @media (max-width: 1000px) {
            .about-content {
                flex-direction: column;
                align-items: center;
            }

            .about-text {
                text-align: center;
            }
            
            .about-content img {
                max-width: 60%;
                height: auto;
                border-radius: 10px;
            }
        }
        /* @media (min-width:1001px){
            .about-content {
                flex-direction: column;
                
               
            }

            .about-text {
                text-align: center;
                align-items: center;
            }
            .about-text .firstP {
                
                flex-direction: row;
                position:absolute;
                margin-top: -280px;
                width:500px;
                margin-left:600px;
            
            }

            
            .about-content img {
                max-width: 40%;
                height: auto;
                border-radius: 10px;
                align-items: flex-start;
                margin-left: 60px;
            }
        } */
        @media (min-width:1200px){
            .about-content {
                flex-direction: row;
                align-items: center;
            }

            .about-text {
                text-align: center;
                
            }

    
            
            .about-content img {
                max-width: 50%;
                height: auto;
                border-radius: 10px;
            }
        }

        @media (max-width: 480px) {
            #about {
                width:auto;
                height: auto;
                padding-left: 20px;
                padding-right: 20px;
                text-align: justify;
            }
            .about-content {
                flex-direction: column;
                align-items: flex-start;
              
            }
            .about h2{
                animation: slideYright 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
            }

            .about-text {
                text-align: justify;
            }
            .about-content img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
                align-self: center;
            }
        }