

@keyframes slideYright {
    
    from{
        transform:translateY(-300px);
        opacity: 0;
    }
    to{
        transform:translateY(0px);
    }
   
}
@keyframes slideXleft {
    
    from{
        transform:translateX(-150px);
        opacity: 0;
    }
    to{
        transform:translateX(0px);
    }
   
}
@keyframes slideXright {
    
    from{
        transform:translateX(150px);
        opacity: 0;
    }
    to{
        transform:translateX(0px);
    }
   
}
@keyframes slideYleft {
    
    from{
        transform:translateY(300px);
        opacity: 0;
    }
    to{
        transform:translateY(0px);
    }
   
}


body {
    font-family: Arial, sans-serif;
    
}

section{
    width: auto;
    height: auto;
    padding-top: 100px;
    padding-bottom:50px ;
}

section h2 {
   
    margin-top: 30px;
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    animation: slideYright 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
   

}
.firstP{

    animation: slideXright 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
}
section p {
    margin-top: 0;
    color: #333;
    text-align: justify;
    padding: 0px  30px;
    
}

.course-card {
    width: 600px;
    
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 16px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideXleft 0.7s cubic-bezier(0.65,0,0.35,1)forwards;
}
.course-card h3 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

.course-card p {
    color: #666;
    text-align: center;
}
.course-card .price {
    font-size: 1.2em;
    color: #27ae60;
}
.course-card .btn {
    display: inline-block;
    background-color: #235ba0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
.course-card .btn:hover {
    background-color: #333;
}
.course-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 480px) {
    section {
        width:auto;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        
    }
    section p {
        margin-top: 0;
        color: #333;
        text-align: justify;
        padding: 0px  17px;
        
    }
    
}
