
/* Keyframes for slide animation */
@keyframes slideYright {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideYleft {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}

/* section */

section {
    padding: 0px 30px;
    margin-bottom: 10px;
    padding-top: 100px;
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    animation: slideYright 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

#signup {
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #f7f9fc;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideYleft 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

#signup h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: medium;
}

/* form-content */

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px 0; /* Padding adjusted to only affect top and bottom */
    border: none;
    border-bottom: 2px solid #ddd; /* Bottom border only */
    border-radius: 0;
    font-size: 16px;
    background: transparent; /* Transparent background to avoid double borders */
    transition: border-bottom-color 0.3s ease; /* Smooth transition for border color */
}

.form-group input:focus {
    outline: none;
    border-bottom-color: #235ba0; /* Change bottom border color on focus */
}

.form-group input::placeholder {
    color: #aaa;
    font-size: 16px;
}

.password-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 13px;
    margin-top: 20px;
}

.form-groupButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button {
    background-color: #235ba0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #333;
}

/* Message Styles */
.form-message {
    text-align: left;
    margin-top: 5px;
    font-size: 13px;
    color: red;
}

/* Background blur effect when popup is active */
.blur {
    filter: blur(5px);
}

/* Popup Modal */
.popup-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin-bottom: 15px;
}

.popup-content p {
    margin-bottom: 20px;
}

.popup-content .cta-button {
    background-color: #235ba0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.popup-content .cta-button:hover {
    background-color: #333;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-150%); /* Adjust this to center it between both fields */
    cursor: pointer;
}

.password-toggle img {
    width: 20px;
    height: 20px;
}

/* mobile-display */

@media(max-width:480px){
    .popup-content{
        width:300px;

    }
}
